extends /common/layout
block header
	include /common/header
	link(rel='stylesheet', href='/css/blog.css')
block content
	article.post
		h2.post_title
			| #{post.title}
		.post_content
			main
				| !{post.rendered}
			aside.post_metadata
				p
					| Date: #{post.date}
				p
					if post.categories && post.categories.length > 1
						| Categories: #{post.categories.join(', ')}
					else
						| Category: #{post.categories[0]}
		include /common/comments
block footer
	include /common/footer
